//aca va a ir todo el codigo de css y sass de mi header y su responsive

@use "variables" as v;

// Variables
$navbar-bg: #111; // fondo de la navbar
$navbar-text: whitesmoke; // color del texto normal
$navbar-text-active: rgb(0, 217, 255); // color del enlace activo
$navbar-hover: rgb(247, 49, 0); // color al pasar el mouse
$font-navbar: 'Science Gothic', sans-serif;

// Navbar
.navbar {
    background-color: $navbar-bg;
    font-family: $font-navbar;

    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand {
        color: $navbar-text;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: $navbar-hover;
        }
    }

    .navbar-toggler {
        border-color: $navbar-text;

        .navbar-toggler-icon {
            background-color: $navbar-text;
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $navbar-text;
                    text-decoration: none;
                    padding: 0.5rem 1rem;

                    &.active {
                        color: $navbar-text-active;
                        font-weight: bold;
                    }

                    &:hover {
                        color: $navbar-hover;
                    }
                }
            }
        }
    }

    // Responsivo
    @media (max-width: 992px) {
        .navbar-nav {
            .nav-link {
                text-align: center;
                padding: 0.75rem 0;
            }
        }
    }
}

