@use "variables" as v;

* {
    font-family: 'Science Gothic', sans-serif;
    color: whitesmoke;
}

.cuerpo {
    background-color: rgb(0, 0, 0);

    h1 {
        color: white;
        text-align: center;
    }

    h2 {
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .pp {
        color: rgb(247, 49, 0);
        text-align: center;
        font-size: 150%;
    }

    .comic {
        color: rgb(0, 217, 255);
        text-align: center;
    }

    .foto {
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }

    .creador {
        display: grid;
        grid-template-columns: auto 1fr; // columna para img | columna para info
        align-items: center;
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;

        img {
            width: 180px;
            height: auto;
            border-radius: 8px;
            justify-self: start; // fuerza que quede al borde izquierdo
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .crea {
                color: antiquewhite;
            }
        }
    }
}

